/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  background-color: var(--background-color);
  color: var(--accent-color);
  background-image: var(--main-background-image);
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  font-family: var(--accent-font), sans-serif;
  inline-size: var(--object-size);
  margin-block-end: 100px;
  padding-block: clamp(7.5rem, 7.1259rem + 1.5962vw, 8.5625rem) 22px;
  margin-top: 100px;
}

.header__tag {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-family: "Press Start 2P", fantasy;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-bottom: 24px;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  inline-size: var(--object-size);
  margin-block-end: 105px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline-start: 20px;
  gap: 10px;
}

.theme-menu__button {
  position: relative;
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.arrowed-menu__item:disabled::before {
  position: absolute;
  animation: menu__item 1s infinite ease-in-out alternate;
  content: "▶";
  font-size: 14px;
  left: -16px;
  top: 0;
}

.arrowed-menu__item:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.hovered__menu:hover {
  opacity: 0.6;
}

.focused__menu:focus::after {
  width: 100%;
}

.focused__menu {
  outline: none;
}

.focused__menu::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  margin-top: -1px;
  opacity: 0.6;
  background-color: var(--accent-color);
  transition: width 0.3s;
}

.focused__menu:focus {
  opacity: 0.6;
}

.hovered__menu {
  transition: opacity 0.3s;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 2px;
  background-color: var(--accent-color);
  gap: 2px;
}

.card__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6px 10px 4px;
  background-color: var(--background-color);
  font-size: 18px;
  font-weight: var(--main-font-weight-title);
  font-variation-settings: "wght" var(--main-font-weight-title);
}

.card__image-frame {
  position: relative;
  background-color: var(--background-color);
}

.card__image {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.watermark {
  position: absolute;
  color: var(--accent-color);
  font-family: var(--accent-font), sans-serif;
  inset-block-start: clamp(1.4375rem, 1.3935rem + 0.1878vw, 1.5625rem);
  inset-inline-end: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: -1px 0 var(--background-color), 0 1px var(--background-color),
    1px 0 var(--background-color), 0 -1px var(--background-color);
}

@supports (
  (text-stroke: 1px var(--background-color)) or
    (-webkit-text-stroke: 1px var(--background-color))
) {
  .watermark {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--background-color);
    text-shadow: none;
  }
}

.card__content {
  background-color: var(--background-color);
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__text {
  font-size: 18px;
  font-weight: var(--main-font-weight-text);
  font-variation-settings: "wght" var(--main-font-weight-text);
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 7px;
  background-color: var(--background-color);
}

.button {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  min-block-size: 38px;
  min-inline-size: 130px;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: box-shadow 0.3s;
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.button:hover::after {
  transform: scaleX(1);
}

.button__text {
  mix-blend-mode: difference;
  color: var(--like-text-color);
  position: relative;
  z-index: 3;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  width: 38px;
  height: 38px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color, #000);
  transition: border 0.3s ease;
  outline: none;
}

.heart {
  fill: var(--accent-color);
}

.save-button {
  gap: 8px;
  align-self: center;
  padding: 15px 20px;
  width: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
}

.floppy-icon {
  position: relative;
  width: 21px;
  height: 21px;
  z-index: 3;
  mix-blend-mode: difference;
  color: var(--like-text-color);
}

.save-button__text {
  mix-blend-mode: difference;
  color: var(--like-text-color);
  position: relative;
  z-index: 3;
}

.dialog {
  font-family: var(--accent-font);
  color: var(--accent-color);
  background-color: var(--background-color);
  inline-size: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
  block-size: clamp(195px, 194px, 193px);
  padding: 29px;
}

.form {
  display: grid;
  grid-template-columns: 40px 1fr;
  row-gap: 30px;
  column-gap: 20px;
  align-items: center;
}

.save-text {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 150%;
}

.save__floppy-icon {
  position: relative;
  width: 39px;
  height: 39px;
  z-index: 3;
  mix-blend-mode: difference;
  color: var(--like-text-color);
}

.dialog__save-button {
  gap: 8px;
  align-self: center;
  padding: 15px 20px;
  grid-column-start: 1;
  grid-column-end: span 2;
  height: 20px;
  width: 100%;
}

.dialog__save-button__text {
  mix-blend-mode: difference;
  color: var(--like-text-color);
  position: relative;
  z-index: 3;
  text-transform: uppercase;
}

.dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.saturate-filter {
  filter: saturate(158%);
}

.grayscale-filter {
  filter: grayscale(100%);
}

.contrast-filter {
  filter: contrast(130%);
}

.blur-filter {
  filter: blur(0.1rem);
}

.brightness-filter {
  filter: brightness(50%);
}

.sepia-filter {
  filter: sepia(50%);
}

.opacity-filter {
  filter: opacity(80%);
}

.double-filter {
  filter: saturate(150%) contrast(150%);
}

@media (max-width: 377px) {
  .save-button {
    flex-direction: column;
    gap: 9px;
    padding: 15px 15px;
  }

  .floppy-icon {
    inline-size: 28px;
    block-size: 28px;
  }
}
